@import "tailwindcss";

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-jetbrains-mono);

  --color-border: var(--border);
  --color-shadow: var(rgba(0, 255, 0, 0.9));
}

:root {
  --background: oklch(100% 0 0);
  --foreground: oklch(15% 0 0);

  --border: color-mix(in oklch, var(--background) 80%, black);
  --shadow: color-mix(in oklch, var(--background) 60%, black / 0.5);
  --shadow-rgb: color-mix(in oklch, var(--background) 60%, black);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: oklch(15% 0 0);
    --foreground: oklch(100% 0 0);

    --border: color-mix(in oklch, var(--background) 80%, white);
    --shadow: color-mix(in oklch, var(--background) 60%, white / 1);
    --shadow-rgb: color-mix(in oklch, var(--background) 60%, white);
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-jetbrains-mono), monospace, Arial, Helvetica,
    sans-serif;
}
